.top-up-component-box{
  .header-box{
    height: 67px;
    margin-bottom: 32px;
  }
  .footer-box{
    margin-top: 32px;
  }
  .content-box{
    width: 1220px;
    margin: 20px auto 0;
    height: 800px;
    border: 1px solid red;
  }
}
