.vip-card-component-box{
  display: flex;
  justify-content: space-between;
  height: 200px;
  .arrow{
    width: 85px;
    display: flex;
    align-items: center;
  }
  .vip-card{
    width: 510px;
    border-radius: 8px;
    box-shadow: 0 2px 6px 0 #e9e9e9;
    background: #fff;
    padding: 6px 10px;
    .icon{
      font-size: 42px;
    }
  }
  .vip-card-current{

  }
  .vip-card-next{

  }
}
