@font-face {
  font-family: "iconfont"; /* Project id 3811251 */
  /* Color fonts */
  src:
          url('//at.alicdn.com/t/c/font_3811251_a35h3i0lo8.woff2?t=1670300338643') format('woff2'),
          url('//at.alicdn.com/t/c/font_3811251_a35h3i0lo8.woff?t=1670300338643') format('woff'),
          url('//at.alicdn.com/t/c/font_3811251_a35h3i0lo8.ttf?t=1670300338643') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vip2:before {
  content: "\e601";
}

.icon-vip3:before {
  content: "\e602";
}

.icon-vip4:before {
  content: "\e603";
}

.icon-vip5:before {
  content: "\e604";
}

.icon-vip1:before {
  content: "\e605";
}
